<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/pure-release-0.5.0/pure-min.css">
		<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/stylesheet.css" >
		<link rel="stylesheet" href="stylesheets/stylesheet2.css">			
	</head>
	
	<body>	
		
		<div class="infopage">
			<!--top nav bar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
						<div class="inner">
							
							<a class="navbar-brand" href='/'>Muslim Popular Culture</a>
							<ul class="nav masthead-nav pull-right">
								<li><a href='/'>HOME</a></li>
								<li><a href='/comic'> COMIC</a></li>
								<li><a href='/comedy'> COMEDY</a></li>
								<li><a href ='/hiphop'>HIP HOP</a></li>
								<li class="active"><a href='/bio'>BIO</a></li>
							</ul>
						</div>
				</div>
			</nav>
			<!-- end of nav bar -->
			
			<!-- hero banner -->
			<div class="quote">
				<div class="splash-container">
					<div class="splash">
						<h1>Biography</h1>
						<div style="padding-left:20%; padding-right:20%";>
							<p>
								My life needs editing.
							</p>
							<p class="pull-right"><small>-- Mort Sahl</small></p>
						</div>
					</div>
				</div>
			</div>
			<!-- end of hero banner -->
			
			
			<!-- Information -->
			<div class="content-wrapper">
				<div class="content">
					<div class="container">			
						<div class="row">
							<div class="col-md-3">
								<img src="images/photo.JPG" style="width:70%; height:70%"></img>
							</div>
							<div class="col-md-9">
								<p>
									This is Abbey. She is left handed, which means she will die on average, seven years earlier than the average human. Her shortened life span propels her to live life to the fullest every day by running long distances races for no apparent reason, eating exotic food (not cooking it, she is a horrible cook), and doing things that she is really really bad at like mixed martial arts. She aspires to one day go to the olympics to compete in biathlon, even though she has never tried it and hates the snow. 
								</p>
							
							</div>
						</div>
						<hr>
						
						
						<div class="row">
							<div class="col-md-9">
							 <p>
								This is April. She descends from a long heritage of exotic animal handlers. This is why she has developed an extreme fondness for Koala Bears, even though they are extremely vicious animals. Her love for four legged creatures is closely reflected in her love for her son and her dog, Jett. Just to clarify, its the dog that has four legs, not her son. April likes to spend her weekends tracking rare species of birds in her homeland of Antioch. Her parents are very proud.
							 </p>
							</div>
							<div class="col-md-3">
								<img src="images/April_about.jpg" style="width:70%; height:70%"></img>
							</div>
						</div>
						<hr>
						
						<div class="row">
							<div class="col-md-3">
								<img src="images/rofiah.jpeg" style="width:100%; height:100%;"></img>
							</div>
							<div class="col-md-9">
								<p>
									This is Rofiah. There is a very high chance that you have probably pronounced her name wrong on the first attempt. She doesn’t mind though because she’s used to it. She’s never grown higher than 5”0 feet and will probably never grow any taller. Her life goal is to be the very best, like no one ever was. She enjoys nice smelling things, social justice, and dark lipstick that’s as dark as her heart. In her off time, she enjoys playing with her babies on Pokemon amie, sleeping, and window shopping on the interwebz.
								</p>
							</div>
						</div>
						<hr>
						
						<div class="row">
							<div class="col-md-9">
								<p>
									This is Shaumik. He left the sunny, alligator infested state of Florida and a promising career as a heavy metal guitarist to go to school at UC Berkeley across the country. His parents couldn't possibly understand why he left his ticket to fame in the rock and roll world to pursue a career in computer programming, but he had to follow his dreams. He one day plans on becoming a rockstar of the tech industry. Shamik occasionally misses his old life as a musical prodigy, but he gets way more attention from girls out here at Berkeley working with computers than he ever would playing in a band.
								</p>
							</div>
							<div class="col-md-3">
								<img src="images/shaumik.jpg" style="width:100%;height:100%;"></img>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of information -->	
			
		</div>
			
	</body>
	
</html>
