<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/pure-release-0.5.0/pure-min.css">
		<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/stylesheet.css" >
		<link rel="stylesheet" href="stylesheets/stylesheet2.css">
		
			
	</head>
	
	<body>	
		
		<div class="infopage">
			<!--top nav bar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
						<div class="inner">
							
							<a class="navbar-brand" href='/'>Muslim Popular Culture</a>
							<ul class="nav masthead-nav pull-right">
								<li><a href='/'>Home</a></li>
								<li><a href='/comic'> Comic</a></li>
								<li class="active"><a href='/comedy'> Comedy</a></li>
								<li><a href ='/hiphop'>Hip Hop</a></li>
								<li><a href='/bio'>BIO</a></li>
							</ul>
						</div>
				</div>
			</nav>
			<!-- end of nav bar -->
			
			<!-- hero banner -->
			<div class="quote">
				<div class="splash-container">
					<div class="splash">
						<h1>Comedy</h1>
						<p>
							Remember, we really grew up separately; our life experience was very different
							because of segregation. So I think comedy is a good space to work those things
							and educate everyone about the different experiences and different race groups...
						</p>
						<p class="pull-right"><small>-- Riaad Moosa</small></p>
					</div>
				</div>
			</div>
			<!-- end of hero banner -->
			
			
			<!-- Information -->
			<div class="content-wrapper">
				<div class="content">
					<div class="container">
						<p>
							When we in the West think of the word Muslim, we usually associate it with terrorism,
							Jihad or Sharia. Disassociating these analogies is pretty tough, especially when they are
							continuously shown to us through the media. However, armed with humor, some talented comedians
							use laughter to fight these prejudices. Comedy brings together people of different backgrounds
							and challenges their mindset by showing how ridiculous their perceptions of "others" are.
							Here we showcase some comedians that we think are really influencial and has been outstanding 
							characters.
						</p>
						
						<h2> Maysoon Zayid</h2>
						<div class="row">
							<div class="col-md-4">
								<img src="images/maysoon1.jpg"></img>
								<div class="image-source"><p>http://www.campuscircle.com/film/031732.jpg</p></div>
							</div>
							<div class="col-md-8">
								<p>
									Maysoon Zayid is a Palestinian-American comedian that struggles with cerebral palsy
									but never lets it slow her down. 
									As a comedian and an activist, she takes on the subjects of Islamophobia, terrorism, and the Israel-Palestine conflict.
									She's an actress and has co-starred several comedy shows on Comedy Central. 
									She also co-founded the New York Arab-American Comedy Festival.
									She has also been featured presenting on TEDwomen.
									Through her work, she has been a great role model; she runs a art program for disabled and 
									orphans in refugee camps in Palestine. She has shown that having disability 
									should not stop someone from pursuing their passion.
								 </p>
							 </div>
							 <div class="clearfix"></div>
							 <iframe width="560" height="315" src="//www.youtube.com/embed/buRLc2eWGPQ" frameborder="0" allowfullscreen></iframe>
							 <p class="video-caption">Maysoon Zayid performing on TED</p>
						</div>
						<hr>
						
						<h2> Meena Sameh Dimian</h2>
						<div class="row">
							<div class="col-md-8">
								<p> Meena Sameh Dimian born 12.24.1981 is an American broadcaster,writer, actor and international
								television personality of Egyptian descent. He is most widely known as on the #1 panel talk show in Middle
								East: "Zahret El Khalieg" on Abu Dhabi-1. In addition, Meena was featured on an ABC News segment
								for their primetime news serial <i>"What Would You Do?"</i> where he played a Muslim store
								slerk dealing with racism. The video subsequently went viral and received over 10 million views.
								He has been featured on ABC, Comedy Central, CNN, TLC, and BBC.</p>
							</div>
							<div class="col-md-4">
								<img src="images/meena1.jpeg"></img>
								<div class="image-source"><p>http://www.name-list.net/img/images.php/Dimian_4.jpg</p></div>
							</div>
							<div class="clearfix"></div>
							<iframe width="560" height="315" src="//www.youtube.com/embed/0KD1CHF9Ub4" frameborder="0" allowfullscreen></iframe>
							<p class="video-caption">Live performance by Meena Dimian</p>
						</div>
						<hr>
						
						<h2>Maz Jobrani</h2> 
						<div class="row">
							<div class="col-md-4">
								<img src="images/jobrani.jpg"></img>
								<div class="image-source"><p>http://www.quotessays.com/images250_/maz-jobrani-4.jpg</p></div>
							</div>
							<div class="col-md-8">
								<p>
									Maz Jobrani is an Iranian born comedian who took part in the widely popular
									"Axis of Evil" comedy group. He has been in many films, TV shows, other comedy
									tours, and has done a talk on TED. Jobrani uses comedy to fight the stereotypes
									and prejudices against the Middle Easterners and Muslim Americans. He is a person
									favorite comedian of mine and he also has graduated from UC Berkeley!
								</p>
							</div>
							<div class="clearfix"></div>
							<iframe width="560" height="315" src="//www.youtube.com/embed/9kxL9Cf46VM" frameborder="0" allowfullscreen></iframe>
							<p class="video-caption"> Maz Jobrani in TED talking about serious problems of Middle East through comedy</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end of information -->	
			
		</div>
			
	</body>
	
</html>
