<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/pure-release-0.5.0/pure-min.css">
		<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/stylesheet.css" >
		<link rel="stylesheet" href="stylesheets/stylesheet2.css">
		
	
	<style>
		h1{
			color:black;
		}
	</style>
	
	</head>
	
	<body>	
		
		<div class="infopage">
			<!--top nav bar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
						<div class="inner">
							
							<a class="navbar-brand" href='/'>Muslim Popular Culture</a>
							<ul class="nav masthead-nav pull-right">
								<li><a href='/'>HOME</a></li>
								<li class="active"><a href='/comic'> COMIC</a></li>
								<li><a href='/comedy'> COMEDY</a></li>
								<li><a href ='/hiphop'>HIP HOP</a></li>
								<li><a href='/bio'>BIO</a></li>
							</ul>
						</div>
				</div>
			</nav>
			<!-- end of nav bar -->
			
			<!-- hero banner -->
			<div class="quote">
				<div class="splash-container">
					<div class="splash">
						<h1>Comic</h1>
						<p>
							"And it's only by linking positive things that the negative can be delinked.  
							The 99 references the 99 attributes of Allah in the Koran, things like generosity and mercy and 
							foresight and wisdom and dozens of others that no two people in the world would disagree about."
						</p>
						<p class="pull-right"><small>-- Dr. Naif Al-Mutawa</small></p>
					</div>
				</div>
			</div>
			<!-- end of hero banner -->
			
			
			<!-- Information -->
			<div class="content-wrapper">
				<div class="content">
					<div class="container">
						<!--<h2>The 99 Comic</h2> -->
						
						<div>
							<img src="images/99banner2.jpg" style="padding-left: 20%;"></img>
							<div class="image-source"><p>source: http://media.carbonated.tv/125105_story__14727326248610142270681128778693n.jpg</p></div>
						</div>
						
						<div class="clearfix"></div>
						<p> The 99 is a comic based on the 99 attributes of Allah. 
						Each of the 99 characters are teenagers name for one of these attribute;
						for example, Aleem -- the all-knowing, Batina -- the hidden and Samda -- the invulnerable.
						The characters hail from across the globe and unite in their pursuit of social 
						justice and peace against the forces of chaos and evil. Since the comic involves
						teenagers around the world, it allows school age children from all backgrounds to find a 
						common ground.<br></br>
						The 99 is a huge success around the world and has even been premiered as an animation series.
						Visit their interactive website <a href="http://www.the99kids.com"> here!</a>. Follow them on their <a href="https://twitter.com/the99comics">twitter</a> also. And check out their trailer for their animated series:
						</p>
						<iframe width="560" height="315" src="//www.youtube.com/embed/jzV0xiXRtQw" frameborder="0" allowfullscreen></iframe>
						
						<hr>
						
						<h2> About the Author </h2>
						<div class="row">
							<div class="col-md-3">
								<img src="images/realnaif.jpeg"></img>
								<div class="image-source"><p>www.aljouf-news.net/contents/newsm/28559.jpg</p></div>
							</div>
							<div class="col-md-9">
								<p> Dr. Naif A. Al-Mutawa, the creator of <i>The 99</i>, hoped to create a positive outlook
								for the Muslim community by creating a pop culture that would reflects the good intentions
								of Islam. Dr. Naif as a young lad loved comics himself. He first discovered comics during his stay 
								at a Jewish summer camp. Dr. Naif earned his PhD in Clinical Psychology from Long Island University.
								Learn more about Dr. Naif A. Al-Mutawa on his website <a href='http://www.al-mutawa.com'>here!</a></p>
							</div>
						</div>
						
						<h2> Ms. Marvel (Kamala Khan)</h2>
						<div>
							<img src='http://cdn.screenrant.com/wp-content/uploads/Kamala-Khan-Ms-Marvel-Comics.jpg' style="padding-left:15%;"></img>
							<div class="image-source"><p>http://cdn.screenrant.com/wp-content/uploads/Kamala-Khan-Ms-Marvel-Comics.jpg</p></div>
							<p>
								Ms. Marvel, who was originally a blond military pilot who could fly, shrug off bullets, and shoot energy blasts from her hands, was recently reimagined as Kamala Khan, a Pakistani-American Muslim teenager from New Jersey. Unlike her predecessor, she is able to grow and shrink different parts of her body and will eventually gain the ability to shape-shift. Although Khan is not the first Muslim character in the Marvel universe, she is the first Muslim character to headline their own comic book series. The new Ms. Marvel made her first appearance in Captain Marvel #14 (August 2013). Writer G. Willow Wilson, artist Adrian Alphona, and editor Sana Amanat (who is notably Muslim herself) were Khan’s creators.
								To read more : <a href="http://www.npr.org/blogs/codeswitch/2013/11/11/244529591/what-the-new-ms-marvel-means-for-muslims-in-comics">NPR's</a>,
								<a href="http://www.wired.com/2014/01/ms-marvel-muslim-superheroine/">Wired's</a>,
								<a href="http://www.slate.com/articles/arts/books/2014/04/kamala_khan_as_ms_marvel_and_carol_danvers_as_captain_marvel_female_nonwhite.html"> Slate's</a>, and
								<a href="http://www.fool.com/investing/general/2013/12/02/marvel-and-dcs-muslim-superheroes-shatter-stereoty.aspx">Fool's</a> article.
								Or to learn about more Muslim Superhero visit <a href='http://www.thenational.ae/arts-culture/books/in-pictures-female-muslim-comic-book-characters#1'> here.</a>

							</p>
						</div>
						
					</div>
				</div>
			</div>
			<!-- end of information -->	
			
		</div>
			
	</body>
	
</html>
