<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/pure-release-0.5.0/pure-min.css">
		<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/stylesheet.css" >
		<link rel="stylesheet" href="stylesheets/stylesheet2.css">
		
			
	</head>
	
	<body>	
		
		<div class="infopage">
			<!--top nav bar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
						<div class="inner">
							
							<a class="navbar-brand" href='/'>Muslim Popular Culture</a>
							<ul class="nav masthead-nav pull-right">
								<li><a href='/'>Home</a></li>
								<li class="active"><a href='/comic'> Comic</a></li>
								<li><a href='/comedy'> Comedy</a></li>
								<li><a href ='/hiphop'>Hip Hop</a></li>
								<li><a href='/#about'> About</a></li>
							</ul>
						</div>
				</div>
			</nav>
			<!-- end of nav bar -->
			
			<!-- hero banner -->
			<div class="quote">
				<div class="splash-container">
					<div class="splash">
						<h1>Comic</h1>
						<p>
							"And it's only by linking positive things that the negative can be delinked.  
							The 99 references the 99 attributes of Allah in the Koran, things like generosity and mercy and 
							foresight and wisdom and dozens of others that no two people in the world would disagree about."
						</p>
						<p class="pull-right"><small>-- Dr. Naif Al-Mutawa</small></p>
					</div>
				</div>
			</div>
			<!-- end of hero banner -->
			
			
			<!-- Information -->
			<div class="content-wrapper">
				<div class="content">
					<div class="container">
						<!--<h2>The 99 Comic</h2> -->
						<img src="images/99banner.png"></img>
						<div class="clearfix"></div>
						<p> The 99 is a comic based on the 99 attributes of Allah. 
						Each of the 99 characters are teenagers name for one of these attribute;
						for example, Aleem -- the all-knowing, Batina -- the hidden and Samda -- the invulnerable.
						The characters hail from across the globe and unite in their pursuit of social 
						justice and peace against the forces of chaos and evil. Since the comic involves
						teenagers around the world, it allows school age children from all backgrounds to find a 
						common ground.<br></br>
						The 99 is a huge success around the world and has even been premiered as an animation series.
						Visit their interactive website <a href="http://www.the99kids.com"> here!</a> And check out their trailer for their animated series:
						</p>
						<iframe width="560" height="315" src="//www.youtube.com/embed/jzV0xiXRtQw" frameborder="0" allowfullscreen></iframe>
						
						<hr>
						
						<h2> About the Author </h2>
						<div class="row">
							<div class="col-md-3">
								<img src="images/realnaif.jpeg"></img>
							</div>
							<div class="col-md-9">
								<p> Dr. Naif A. Al-Mutawa, the creator of <i>The 99</i>, hoped to create a positive outlook
								for the Muslim community by creating a pop culture that would reflects the good intentions
								of Islam. Dr. Naif as a young lad loved comics himself. He first discovered comics during his stay 
								at a Jewish summer camp. Dr. Naif earned his PhD in Clinical Psychology from Long Island University.
								Learn more about Dr. Naif A. Al-Mutawa on his website <a href='http://www.al-mutawa.com'>here!</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end of information -->	
			
		</div>
			
	</body>
	
</html>
