<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/pure-release-0.5.0/pure-min.css">
		<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/stylesheet.css" >
		<link rel="stylesheet" href="stylesheets/stylesheet2.css">
		
			
	</head>
	
	<body>	
		
		<div class="infopage">
			<!--top nav bar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
						<div class="inner">
							
							<a class="navbar-brand" href='/'>Muslim Popular Culture</a>
							<ul class="nav masthead-nav pull-right">
								<li><a href='/'>HOME</a></li>
								<li><a href='/comic'> COMIC</a></li>
								<li><a href='/comedy'> COMEDY</a></li>
								<li class="active"><a href ='/hiphop'>HIP HOP</a></li>
								<li><a href='/bio'>BIO</a></li>
							</ul>
						</div>
				</div>
			</nav>
			<!-- end of nav bar -->
			
			<!-- hero banner -->
			<div class="quote">
				<div class="splash-container">
					<div class="splash">
						<h1>Hiphop</h1>
						<p>
							Hip-hop is a culture that consists of five elements ... Therefore, we are bridging the five pillars of Islam with the five elements of hip-hop to create a platform to depict social and political inequity.
						</p>
						<p class="pull-right"><small>-- Waris and Wajid Syed</small></p>
					</div>
				</div>
			</div>
			<!-- end of hero banner -->
			
			
			<!-- Information -->
			<div class="content-wrapper">
				<div class="content">
					<div class="container">
						<h2>Introduction</h2>
						<p>
							Hip-hop, according to most accounts, began in South Bronx, New York in the 1970s largely as a response to poverty. It is a cultural phenomenon, one whose styles, sounds, and symbols are rooted in Diaspora. Hip-hop is also political, historically being used by communities of color to comment on the political, social, and economic contradictions that have existed and continue to exist in America. However, few people know about its roots. Even fewer people know of Islam's influence on hip-hop history and would be surprised by the list of prominent Muslim rappers and emcees in the scene today. <br>

							The Nation of Islam (NOI) and its prominent figures, like Malcolm X, made a profound impact on black America with their messages of social justice, self-knowledge, community, and empowerment during a time of civil and political unrest. Historically, different Black Muslim communities have utilized Islam in different ways. However, they are all tied together by a political consciousness, using hip-hop to cope and understand the harsh realities that face their communities. Today, many Muslims use hip-hop as a tool for negotiating their multifaceted identities -- race, class, religious, gender, etc. -- in post-Civil Rights America.
							<a href='http://www.shobak.org/text/hiphop-full.html'>More.</a>
						</p>
						
						<hr>

						<h2>Mos Def (Yasiin Bey)</h2>
						<div class="row">
							<div class="col-md-3">
								<img style="width:100%; height:100%;" src="images/yasiin.png"></img>
								<div class="image-source"><p>http://tinyurl.com/m7okk63</p></div>
							</div>
							<div class="col-md-9">
								<p>
									Born Dante Smith in 1974, he first learned the importance of Islam through his father, a practicing Muslim. After taking his shahada at 19, Islam has been the cornerstone of his life and his music. He tackles various issues in his songs, ranging from the very political to the spiritual and enlightening. According to Yasiin, "If Islam's sole interest is the welfare of mankind, then Islam is the strongest advocate of human rights anywhere on Earth," says Mos. He is arguably one of the most prominent pop-cultural Muslim figures living today and continues to use Islam to inform and uplift his listeners through his music.
									<a href="http://www.beliefnet.com/Entertainment/Music/2001/04/Youre-Gonna-Serve-Somebody.aspx?p=2#3VKA0DjcKQO5whfl.99">More</a>
								</p>						
							</div>
							<div class="clearfix"></div>
							<iframe width="560" height="315" src="//www.youtube.com/embed/pRKCMtJjY7w" frameborder="0" allowfullscreen></iframe>
							<p class="video-caption">Mos Def's music video of The Light Is Not Afraid Of The Dark</p>
						</div>
						
						
						<hr>
						
						<h2>Lupe Fiasco (Wasalu Muhammed Jaco)</h2>
						<div class="row">
							<div class="col-md-3">
								<img style="width:100%; height:100%;" src="images/lupe.jpg"></img>
								<div class="image-source"><p>http://tinyurl.com/lhqhqed</p></div>
							</div>
							<div class="col-md-9">
								<p>
									Lupe Fiasco, born Wasalu Muhammed Jaco, is an American rapper, record producer, and entrepreneur. He was brought into the limelight with his debut album, Food and Liquor (2006), which received three Grammy nominations. He, along with rappers like Yasiin Bey, Talib Kweli, and Common use their music to touch upon social issues like terrorism, Islam and religion, prostitution, and misogyny in hip-hop. He has remixed Kanye West's "Jesus Walks" into a song called "Muhammed Walks," which can found in his mixtape series entitled Fahrenheit 1/15.
									<a href=" http://www.bet.com/news/music/2014/06/10/lupe-fiasco-talks-challenges-of-being-a-muslim-rapper.html">More</a>
								</p>						
							</div>
							<div class="clearfix"></div>
							<iframe width="560" height="315" src="//www.youtube.com/embed/TSIkgRLdWYQ" frameborder="0" allowfullscreen></iframe>
							<p class="video-caption">Lupe Fiasco's Muhammad Walks</p>
						</div>
						
						
						<hr>
						
						<h2>Freeway</h2>
						<div class="row">
							<div class="col-md-3">
								<img style="width:100%; height:100%;" src="images/freeway.jpg"></img>
								<div class="image-source"><p>http://25.media.tumblr.com/tumblr_ky0sdhz6Xb1qa06gko1_500.jpg</p></div>
							</div>
							<div class="col-md-9">
								<p>
									Leslie Edward Pridgen, known by his stage name, is an American Muslim rapper from Philadelphia. In an interview, he stated that growing up in a heavily Muslim area influenced him greatly, "... as I got older and started to study religion and learn for myself, I realized that it was the religion for me.” Philadelphia has one of the largest black American Muslim populations in the country. His most recent album, entitled Diamond in the Ruff (2012), featured collaborations with artists like Rick Ross and Black Thought.
									Read more: <a href="http://www.philadelphiaweekly.com/music/features/180224421.html">here</a> and <a href="http://www.hiphopdx.com/index/news/id.21495/title.freeway-diamond-in-the-ruff-album-stream">here</a>.
								</p>					
							</div>
							<div class="clearfix"></div>
							<iframe width="560" height="315" src="//www.youtube.com/embed/1swlUtEkXZ0" frameborder="0" allowfullscreen></iframe>
							<p class="video-caption">Freeway ft Jay z and Beanie Sigel's What We Do</p>
						</div>
						
						<hr>
						
						<h2>3ILM (Islamically Liberated Minds)</h2>
						<div class="row">
							<div class="col-md-3">
								<img style="width:100%; height:100%;" src="images/ilm.jpeg"></img>
								<div class="image-source"><p>http://i.ytimg.com/vi/_suFwOLC44k/mqdefault.jpg</p></div>
							</div>
							<div class="col-md-9">
								<p>
									3ILM (Arabic word for knowledge) is a hip-hop group established in Tampa, FL. They created the group because they saw "the need for an alternative form of music from which Muslims could benefit Islamically and mentally." They also hope to spread the world of Islam through their music.
									<a href="http://www.philadelphiaweekly.com/music/features/180224421.html">More</a>.
								</p>					
							</div>
							<div class="clearfix"></div>
							<iframe width="560" height="315" src="//www.youtube.com/embed/Ya3dDkDgtvI" frameborder="0" allowfullscreen></iframe>
							<p class="video-caption">3ILM's Remember Allah</p>
						</div>						
						
	
						<hr>
						
						<h2>Amir Sulaiman</h2>
						<div class="row">
							<div class="col-md-3">
								<img style="width:100%; height:100%;" src="images/amir.jpg"></img>
								<div class="image-source"><p>http://userserve-ak.last.fm/serve/252/130041.jpg</p></div>
							</div>
							<div class="col-md-9">
								<p>
									New York born activist, writer, educator, Amir Sulaiman's political consciousness is something that can be commonly seen in his works. He first began as a freestyle rapper before becoming a poet later on. The Black Arts Movement of the ‘60s and ‘70s significantly influenced his writings. He also utilized personal experiences for his poetry, especially those from growing up as a Muslim. His works range in topic, from tackling life as a Black man in modern day America to enlightening and inspiring his listeners.
									Read more: <a href="http://www.muslimhiphop.com/Hip-Hop/Amir_Sulaiman">Here</a> and <a href="http://www.allmusic.com/artist/amir-sulaiman-mn0000534891/biography">here.</a>
								</p>					
							</div>
							<div class="clearfix"></div>
							<iframe width="560" height="315" src="//www.youtube.com/embed/aO4ZxXQuqTA" frameborder="0" allowfullscreen></iframe>
							<p class="video-caption">Amir Sulaiman - 82nd & MacArthur (ft. Sugar Johnson)</p>
						</div>						
						
						
						<hr>
						
						<h2> Other Artists that you may not know are Muslims</h2>
						<div>
							<p>
								Other figures in hip-hop associated with Islam include (but are not limited to) T-Pain, Busta Rhymes, Q-Tip, Ice Cube and Talib Kweli.
							</p>
						</div>
						
					</div>
				</div>
			</div>
			<!-- end of information -->	
			
		</div>
			
	</body>
	
</html>
