<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/pure-release-0.5.0/pure-min.css">
		<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/stylesheet.css" >
		<link rel="stylesheet" href="stylesheets/stylesheet2.css">
		
			
	</head>
	
	<body>	
		
		<div class="infopage">
			<!--top nav bar -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
						<div class="inner">
							
							<a class="navbar-brand" href='/'>Muslim Popular Culture</a>
							<ul class="nav masthead-nav pull-right">
								<li><a href='/'>Home</a></li>
								<li><a href='/comic'> Comic</a></li>
								<li><a href='/comedy'> Comedy</a></li>
								<li class="active"><a href ='/hiphop'>Hip Hop</a></li>
								<li><a href='/bio'>BIO</a></li>
							</ul>
						</div>
				</div>
			</nav>
			<!-- end of nav bar -->
			
			<!-- hero banner -->
			<div class="quote">
				<div class="splash-container">
					<div class="splash">
						<h1>Hiphop</h1>
						<p>
							Hip-hop is a culture that consists of five elements ... Therefore, we are bridging the five pillars of Islam with the five elements of hip-hop to create a platform to depict social and political inequity.
						</p>
						<p class="pull-right"><small>-- Waris and Wajid Syed</small></p>
					</div>
				</div>
			</div>
			<!-- end of hero banner -->
			
			
			<!-- Information -->
			<div class="content-wrapper">
				<div class="content">
					<div class="container">
						
					</div>
				</div>
			</div>
			<!-- end of information -->	
			
		</div>
			
	</body>
	
</html>
