<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheets/pure-release-0.5.0/pure-min.css">
		<link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/stylesheet.css" >
		<link rel="stylesheet" href="stylesheets/stylesheet2.css">
	</head>
	
	<body>
		<!-- Header -->
		<div class="splash-container">
			<div class="splash">
				<h1 class="splash-head">Muslim Popular Culture</h1>
				<p class="splash-subhead">
					The influence of pop culture in Islam
				</p>
				<!-- Top navigation -->
				<div class="mainHeader">
					<div class="masthead">
						<div class="inner">
							<ul class="nav masthead-nav">
								<li class="active"><a href='#'>Home</a></li>
								<li><a href='/comic'> Comic</a></li>
								<li><a href='#'> Comedy</a></li>
								<li><a href ='#'>Hip Hop</a></li>
								<li><a href='#about'> About</a></li>
							</ul>
						</div>
					</div> 
				</div>
			</div>
		</div>
	
		<!-- After the Header -->
		<div class="content-wrapper">
			<!-- Feature Info -->
			<div class="content">
				<div class="container">
						<!-- Comic -->
						<div class="row feature">
							<div class="col-md-7">
								<h2> Comic </h2>
								<p>Comics are just as popular as in Arab and Muslim countries as they are in West. 
								   However, we always see Western culture and values reflected in all these comics.
								   Comics such as "99" sought to bring Islamic teachings into the world of comics by 
								   creating heros based on the 99 virtues of Islam.
								</p>
								<a class="pure-button pure-button-primary" href="comic.html">Learn More!</a>
							</div>
							<div class="col-md-5">
								<img class="img-responsive" src="images/99-Teshkeel.jpg"></img>
							</div>
						</div>
						
						<hr>
						<!-- Comedy -->
						<div class="row feature">
							<div class="col-md-5">
								<img class="img-responsive" src="images/hqdefault.jpg"></img>
							</div>
							<div class="col-md-7">
								<h2> Comedy </h2>
								<p>Comedy is a powerful tool that can dispel negative connotations or stereotypes. 
								   Using humor, comedians such as Meena Sameh Dimian and Maysoon Zayid show the ridiculous
								   the stereotypes people have against Islam. Through laughter these comedic geniuses combat Islamophobia.
								</p>
								<a class="pure-button pure-button-primary" href="comedy.html">Learn More!</a>
							</div>
						</div>
						
						<hr>
						<!-- HipHop -->
						<div class="row feature">
							<div class="col-md-7">
								<h2> Hip Hop </h2>
								<p>Vim in fabellas honestatis. Ut mel natum mazim, et vim erat magna reprimique. Ne etiam omnes nam, commune intellegam at per. Veritus dolorem efficiantur mea te, ex probo option molestie nec. Cu vide integre reprimique vis, no qui dicam iudicabit. In nam dicta liber adipisci. Mea id mnesarchum scribentur.</p>
								<a class="pure-button pure-button-primary" href="hiphop.html">Learn More!</a>
							</div>
							<div class="col-md-5">
								<img class="img-responsive" src="images/maher_zain_in_wpap_by_setobuje-d3e3hmy.jpg"></img>
							</div>
						</div>
						
						<hr>
						
					</div>
			</div>

			<!-- About Section -->	
			<div class="ribbon l-box-lrg pure-g">
				<div id="about">
					<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
						<h2 class="content-head content-head-ribbon">About</h2>
						<p>
							This website is part of University of California Berkeley's ASAMST 128AC (Muslims in America) project.
							Our website pertains to the Pop Culture in the Muslim community. With the negative light that the Muslim
							community is seen in the recent times, pop culture emulates the true value of that Islam is. Our website
							shows examples of modern pop culture through the mediums of comic book, comedy and hip hop that dispells
							the stereotypes that the Western world perceives as the "Muslim World" to be. This webpage has been created
							by Abbey Dykhouse, April Fraizer, Rofiah Pou, Shaumik Mondal.
						</p>
						<a href='#'>Back to Top </a>
					</div>
				</div>
			</div>
			
			<!-- Footer -->
			<div class="footer l-box is-center">
				Created December 2014 by Abbey Dykhouse, April Fraizer, Rofiah Pou, Shaumik Mondal.
			</div>
		</div>

	</body>

</html>
